* {
    box-sizing: border-box;
  }
  
  html {
    background-color: #fff;
    font-size: 16px;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
  
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgb(239, 239, 239);
  }
  
  
  a {
    display: inline-block;
    text-decoration: none;
  }
  
  h2 {
    margin:0;
    padding:0;
    padding-bottom:1.5rem;
  }
  
  form {
    accent-color: hsla(120, 100%, 50%, 0.482);
  }
  
  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
  }
  
  .container {
    margin: 0 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex:1;
  }
  
  .header {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
  }
  
  .header h1 {
    display: block;
    background-color: #8ad4ff;
    color: #000000;
  
    border-radius: 6px;
    font-size: 1.5rem;
    padding: 1.25rem;
    margin:0;

    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  }
  
  .box {
    background-color: rgba(239, 239, 239, 0.40);
    /* border: 2px dashed; */
    /* border-radius: 4px; */
  
    width: fit-content;
    height:fit-content;
    padding: 1.5rem;
    margin: 0.5 auto;
  }
  
  .left_section {
    background-color: rgba(255, 208, 238, 0.8);
    flex: 0 1 auto;
    margin: 1rem;
    padding: 1.5rem;
  }
  
  .right_section {
    background-color: rgba(255, 208, 238, 0.8);
    flex: 1 2 auto;
    margin: 1rem;
    align-items: center;
    max-width: 450px;
  }
  
  .footer {
    flex-shrink: 0;
    padding: 1rem;
    background-color: #8ad4ff;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .footer a {
    color: rgb(54, 53, 53);
    text-decoration: underline;
  }
  
  .footer a:hover {
    background-color: hsla(0, 0%, 90%, 0.15);
    color: rgb(246, 169, 93);
    text-decoration: none;
  }
  
  .subtitle {
    color: rgba(0, 0, 0, 0.8);
    margin: 0px;
    margin-bottom: 5px;
  }
  
  .grid {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    width: 350px;
    height: 350px;
    margin: 0 auto;
  }
  
  .grid img {
    width: 150px;
    height: 150px;
  }
  